<div id="fh5co-our-services" data-section="spiravita">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
          <!--Header-->
					<h2 class="to-animate">Why Nova?</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate" style ="padding-bottom:50px">
							<h3>Nova because ...</h3>
						</div>
					</div>
          <!--Features-->
					<div class="row">
						<div class="col-md-4">
							<div class="box to-animate">
								<div class="icon colored-6"><span><img src= "images/maxspeed.png" style ="width:60%"></span></div>
								<h3>Max Speed</h3>
								<p>The maximum speed is ...</p>
							</div>
            </div>
            <div class="col-md-4">
              <div class="box to-animate">
                <div class="icon colored-6"><span><img src= "images/range.png" style ="width:60%"></span></div>
                <h3>Range</h3>
                <p>The range is ...</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box to-animate">
                <div class="icon colored-6"><span><img src= "images/safety.png" style ="width:60%"></span></div>
                <h3>Safety</h3>
                <p>The safety protocols are ...</p>
              </div>
            </div>
					</div>

				</div>
			</div>
		</div>
  </div>
