<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a href="/"><img src="/images/logo.png" height="50px"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li <% if (page_name === '/'){ %> class="active" <% } %> >
        <a href="/">Home</a></li>
      <li <% if (page_name === 'about'){ %> class="active" <% } %> >
        <a href="/about">About</a></li>
      <li <% if (page_name === 'contact'){ %> class="active" <% } %> >
        <a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</nav>
