<header role="banner" id="fh5co-header">
    <div class="container">
      <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
              <img class="navbar-brand" src="/images/logo.png">
              <a class="navbar-brand" href="/" >GoAnyways</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

              <li <% if (page_name === '/'){ %> class="active" <% } %> ><a href="/" data-nav-section="home"><span>Home</span></a></li>
              <li <% if (page_name === 'nova'){ %> class="active" <% } %> ><a href="nova" data-nav-section="nova"><span>Nova</span></a></li>
              <li <% if (page_name === 'about'){ %> class="active" <% } %> ><a href="about" data-nav-section="about"><span>About</span></a></li>
              <li <% if (page_name === 'faq'){ %> class="active" <% } %> ><a href="faq" data-nav-section="faq"><span>FAQ</span></a></li>
              <li <% if (page_name === 'contact'){ %> class="active" <% } %> ><a href="contact" data-nav-section="contactus"><span>Contact Us</span></a></li>
              <% if (user) { %>
              <li <% if (page_name === 'profile'){ %> class="active" <% } %> ><a href="/profile" data-nav-section="profile"><span>Profile</span></a></li>
              <li <% if (page_name === 'logout'){ %> class="active" <% } %> ><a href="/auth/logout" data-nav-section="logout"><span>Logout</span></a></li>
              <% } else { %>
                <li <% if (page_name === 'login'){ %> class="active" <% } %> ><a href="/auth/login" data-nav-section="login"><span>Login</span></a></li>
              <% } %>
            </ul>
          </div>
        </nav>
      <!-- </div> -->
    </div>
</header>
