<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%include partials/styles %>
  </head>
  <body>
    <% include partials/navbar %>

    <!--Jumbotron-->
    <div class="jumbotron">
      <div class="container-fluid">
        <h1><%=title%></h1>
      </div>
    </div>

    <!--Text-->
    <div class="container">
      <div class="column2">
        <p>Our Mission</p>
      </div>
      <div class="column2">
        <p>Insert Mission Statement</p>
      </div>
    </div>

    <div class="container">
      <div class="column4a">
        <h1>MEET OUR TEAM</h1>
        <p>The team members include ... </p>
      </div>
      <div class="column4b">

      </div>
    </div>

    <% include partials/footer %>
  </body>
</html>
